*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --white: #F5F5F5;
    --black: #1C1C1C;
    --purple:#563D7C;

    font-size: 62.5%;
}

/*------------------------------------------------  General atributes */
body{
    display: flex;
    background-color: var(--black);
    align-items: center;
    justify-content: center;
}

body, a, button{
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
}

/*------------------------------------------------  GRID */
.grid{
    position: relative;
    width: 70%;
    height: 70%;
    
    display: grid;

    grid-template-columns:      35fr 15fr ;
    grid-template-rows:     05fr
                            40fr
                            05fr 
                              
                         
;

    grid-template-areas: 
        "   header    header  "
        "   main      aside   "
        "   footer    footer  "
    ;
}

.grid header{
    grid-area: header;
}

.grid main{
    grid-area: main;
}

.grid aside{
    grid-area: aside;
}

.grid footer{
    grid-area: footer;
}

/*------------------------------------------------  Layout sketch */
/*
header, main, aside, footer, .modes, .navbar, .content_container, a,button, #last_update{   
    border: solid white 1px;
}

*/

/*------------------------------------------------  Header */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modes{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 5%;
    height: 95%;
}

.modes .mode_button{
    background: none;
    
    width: 90%;
    height: 90%;

    cursor: pointer;
}

.modes i{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 25%;
    height: 95%;
}

.navbar a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20%;
    height: 80%;
}

/*------------------------------------------------  Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .content_main{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
    height: 95%;

    position: relative;
}

main .content_container{
    width: 100%;
    height: 100%;
}

/*------------------------------------------------  Aside */
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside .menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 70%;
    width: 70%;

    position: relative;

    margin-left: 10%;
}

.menu .button_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 90%;
    width: 90%;

    margin-left: 5%;
}

.menu .menu_button{
    background: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    font-size: 2rem;

    width: 100%;
    height: 15%;

    cursor: pointer;
}

/*------------------------------------------------  Footer */

footer{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

footer #last_update{

}

/*------------------------------------------------  Borders */
.main_border_1{
    position: absolute;
    width: 50%;
    height: 50%;

    top: 0;
    left: 0;

    border-top: 5px solid var(--purple);
    border-left: 5px solid var(--purple);
    border-radius: 2rem 0 0 0;
}

.main_border_2{
    position: absolute;
    width: 50%;
    height: 50%;

    bottom: 0;
    right: 0;

    border-bottom: 5px solid var(--purple);
    border-right: 5px solid var(--purple);
    border-radius: 0 0 2rem 0;
}

.content_border{
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 50%;

    border-right: solid var(--purple) 5px ;
    border-top:   solid var(--purple) 5px;

}

.menu_border{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 50%;
    height: 50%;

    border-bottom: solid var(--purple) 5px;
    border-left: solid var(--purple) 5px;
    border-radius: 0 0 0 2rem ;
}

.footer_border{
    position: absolute;
    top: 0;

    width: 50%;

    border-top:   solid var(--purple) 5px;

}