*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 7fr 3fr 2fr;
    grid-template-rows: 2fr 9fr 1fr 2fr;
    grid-template-areas: 
        ". . . ."
        ". main aside ."
        ". footer footer ."
        ". . . ."
    ;
}

aside{
    background-color: green;
    grid-area: aside;
}

main{
    background-color: red;
    grid-area: main;
}

footer{
    background-color: blue;
    grid-area: footer;
}

/*------------------------*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    
}

main .modes{
    background-color: white;

    position: absolute;
    top: 0;
    left: 0;

}

main .content-main{
    background-color: aqua;
    width: 80%;
    height: 80%;
}

/*------------------------*/

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

aside .navbar{
    background-color: magenta;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    top: 0;
    right: 0;

    height: 7.5%;
    width: 70%;
}

.navbar a{
    background-color: aqua;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 15%;
}

aside .menu{
    background-color: magenta;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 60%;
    width: 70%;
}

.menu a{
    background-color: aqua;

    display: flex;
    align-items: center;
    justify-content: center;


    height: 15%;
}

/*------------------------*/

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer #last_update{
    background-color: yellow;
}