*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --white: #F5F5F5;
    --black: #333333;
}

/*------------------------------------------------  GRID */
body{
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 7fr 3fr 2fr;
    grid-template-rows: 2fr 9fr 1fr 2fr;
    grid-template-areas: 
        ". . . ."
        ". main aside ."
        ". footer footer ."
        ". . . ."
    ;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}

/*------------------------------------------------  Layout sketch */

main, aside, footer, .modes, .menu, .navbar, .content-main, a, #last_update{    
    margin: 1px;
    padding: 1%;
    border: solid white 1px;
}

/*------------------------------------------------  General atributes */

body, a, button{

    color: var(--white);
    text-decoration: none;
}

main, aside, footer{
    background-color: var(--black);
}


/*------------------------------------------------  Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

main .modes{
    position: absolute;
    top: 0;
    left: 0;
}

main .content-main{
    width: 80%;
    height: 80%;
}

/*------------------------------------------------  Aside */

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

aside .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    top: 0;
    right: 0;

    height: 7.5%;
    width: 70%;
}

.navbar a{

    display: flex;
    align-items: center;
    justify-content: center;

    width: 15%;
}

aside .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 60%;
    width: 70%;
}

.menu a{

    display: flex;
    align-items: center;
    justify-content: center;


    height: 15%;
}

/*------------------------------------------------  Footer */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer #last_update{

}