*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --white: #F5F5F5;
    --black: #1C1C1C;
    --purple:#563D7C;

    font-size: 62.5%;
}
/* -------------------------------------------------- */

.page-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding : 5%;
}

.page-main h2{
    font-size: 3.5rem;
}

.page-main h3{
    font-size: 3rem;
}

.page-main pre{
    font-size: 1.75rem;
    white-space: pre-line;
    text-align: justify;
}

/*--------------------------------------------- Skills */

.page-main .skill-container{
    width: 90%;
    height: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill-container .title{
    font-size: 2.75rem;
    margin-bottom: 2.5rem;
}

.skill-container .miniatures-container{
    display: flex;
    flex-direction: row;
}

.skill-container .miniature img{
    width: 6rem;
    height: 6rem;
    font-size: 5rem;

    margin-bottom: 10%;
}

.skill-container .miniature p{
    font-size: 1.25rem;
}

.miniatures-container .miniature{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 2.5%;
}
.mc-languages :nth-child(6) img, .mc-tools :nth-child(3) img {
    background-color: white;
    border-radius: 5%;
    padding: 1%;
}